// Your styles go here
$primary: #616691;
$secondary: #8590c0;
$success: #e3d0e0;
$danger: #ebf0f2;
$warning: #404565;
$info: #9dc5ca;

/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

html {
    background-color: white;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}



// contact page
.contact .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}

.mail, .phone {
    color: $secondary;
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-form {
    background-color: $success;
    border-radius: 20px;
}
